{% extends "skeleton.html" %}

{% block title %}About{% endblock %}


{% block content %}
    <p>
    	{{num_pdb}} PDB file(s) is/are in the db. There is/are {{num_P}} amino acid(s) annotate as Poliproline.

    </p>
    <p>
    	The mean resolution in the db is {{mean_resol}}. The mean length of protein sequence in db is {{mean_len}}.
    </p>

    <p><strong>Developed by:</strong></p>
    <p>
    	Athénaïs Vaginay (<a href="mailto:vaginay.athenais@gmail.com">vaginay.athenais@gmail.com</a>)
    	<br>
    	Charlotte Perin (<a href="mailto:perincharlotte7@gmail.com">perincharlotte7@gmail.com</a>)
    	<br>
    	Jean-Charles Carvaillo (<a href="mailto:carvaillojeancharles@gmail.com">carvaillojeancharles@gmail.com</a>)
    	<br>
    	Nicolas Bourassin (<a href="mailto:bourassinnicolas@gmail.com">bourassinnicolas@gmail.com</a>)
    </p>

    <p><strong>In the cursus:</strong></p>
    <p>
    	 <a target="_blank" href="http://www.dsimb.inserm.fr/m2bi/">MASTER 2 Biology Informatics</a>
    </p>

{% endblock %}
