{% extends "skeleton.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <p>
        Secondary structures have a major impact on the protein structures and their assembly process.
        The alpha-helix and the beta-sheet, are the most described of these secondary structures, although 
        the turn (less common) was also identified. The other segments of the polypeptide are associated to coil.
    </p>

    <p>
        A less known repetitive structure, the PolyProline II (PPII) helix, was also identified 
        but firstly considered as having too low frequency to deserve a close interest.
    </p>

    <p>
        Nevertheless, PPII helix frequency was shown to be higher than initially described ; and PPII could be 
        involved in protein - protein interactions.
        As a consequence of limited number of studies on PPII helices, the assignment tools are lacking to study 
        further these secundary structures.
    </p>

    <p>
        This database and website are dedicated to assign and analyse PPII helices.
        A PPII is formed by several consecutive residues adopting (φ,ψ) backbone dihedral angles respectively 
        near -75° and 150°, and have trans isomers of their peptide bond.
    </p>
    <p>
        Note : these PolyProline II helices could also commonly occur in polypeptids with other residues 
        apart from proline.
    </p>

{% endblock %}
