{% extends "skeleton.html" %}

{% block title %}Results{% endblock %}

{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <div id="results">
        <pre>{{ PDBid }}   </pre>
        <a href="{{ PDBsum }}">[PDBsum]</a>
        <pre>\nPOS    {{ positions }}</pre>
        <pre>SEQ    {{ sequence }}\n</pre>
        {% for meth, annot in _annotations.iteritems() %}
            <pre>{{ meth }}{{ annot }}\n</pre>
        {% endfor %}
    </div>
    <figure>
        <img src="{{ ramap }}" title="Ramachandran map">
        <figcaption>Ramachandran map</figcaption>
    </figure>
{% endblock %}


