{% extends "skeleton.html" %}

{% block title %}Results{% endblock %}

{% block content %}
    <div id="results">
        <pre>
{{ PDB.id }} <a href="{{ 'http://www.rcsb.org/pdb/explore/explore.do?structureId='+PDB.id }}">[PDBsum]</a>
POS      {{ positions }}
SEQ      {{ PDB.seq }}
{% for anno in PDB.annotations.all() %}
{{ anno.method.ljust(9) }}{{ anno.result }}
{% endfor %}
        </pre>
    </div>
    <figure>
        <img src="{{url_for('get_file', path=ramap)}}" title="Ramachandran map">
        <figcaption>Ramachandran map</figcaption>
    </figure>
{% endblock %}
